---
title: component samples
layout: large-header.hbs
---
<style>
  .sample-pin-fodder > * {
    float: left;
    margin: 15px;
    width: 150px;
  }
</style>

{{#markdown}}
# {{title}}
Just a page to show off various components.

-------

You can round pin list items by adding the class `.pin-round`.

They will have a default border color of `$yellow`, but you can change that with the border helper classes:
- `.border-turquoise`
- `.border-purple`
- `.border-salmon`
- `.border-yellow`
{{/markdown}}

<div class="sample-pin-fodder">

  <div class="pin-list-item pin-round">
    <img class="pin-list-img" src="{{@root.assets}}/img/fpo-pins/dragons.jpg" alt="" />
    <div class="pin-list-title">Dragon</div>
  </div>

  <div class="pin-list-item pin-round border-turquoise">
    <img class="pin-list-img" src="{{@root.assets}}/img/fpo-pins/denver.jpg" alt="" />
    <div class="pin-list-title">Denver</div>
  </div>

  <div class="pin-list-item pin-round border-salmon">
    <img class="pin-list-img" src="{{@root.assets}}/img/fpo-pins/diva-4.jpg" alt="" />
    <div class="pin-list-title">DIVA</div>
  </div>

  <div class="pin-list-item pin-round border-purple">
    <img class="pin-list-img" src="{{@root.assets}}/img/fpo-pins/wgms.jpg" alt="" />
    <div class="pin-list-title">wgms</div>
  </div>
</div>

<spacer style="height: 3em;"></spacer>
{{#markdown}}
Add the class `.with-divider` to any heading to create.. dividers
{{/markdown}}

<section>
  <h2 class="with-divider copy-turquoise">This is a Heading</h2>
  <p>
    Sit qui animi quaerat expedita eveniet Inventore sequi suscipit optio illum ex. Voluptatum nihil corporis fugit quod soluta. Dolorem non nemo accusantium quam similique est Magnam explicabo fuga aliquam architecto
    Dolor maxime doloribus eius ut saepe, obcaecati amet Debitis deserunt quas explicabo quam a, voluptatem Sunt illo impedit exercitationem autem neque Modi aspernatur quis dicta debitis quos. Deserunt velit sunt
    Amet culpa maxime nemo ullam natus dolorem. Nulla maiores expedita corrupti expedita qui. Perferendis eius fugit maxime nemo officiis! Consectetur vel odio consequuntur nulla nobis! Dolore quas tempore quisquam labore.
  </p>
  <p>
    Amet nulla quo doloribus earum voluptas. Earum sed <a href="#test-link">doloremque blanditiis commodi</a> in? Mollitia doloremque cupiditate quae iure dolor! Possimus voluptate placeat eveniet eveniet ex tempore quis? Incidunt placeat distinctio sint
    Ipsum iste voluptas sit enim cumque, atque Animi quidem odit nisi corrupti quidem A dolores esse nostrum est deleniti Blanditiis vero error corporis earum placeat Excepturi quasi ducimus saepe ipsam?
    Dolor <a href="#test-link">voluptas corporis dicta nisi</a> aut? Itaque error rem mollitia alias quae? Exercitationem fuga praesentium architecto vero illum Quia necessitatibus quas autem quasi odit. Facere laborum labore hic veritatis non.
  </p>

  <h3 class="with-divider copy-salmon">Another heading</h3>
  <p>
    Amet repudiandae <a href="#test-link">aliquid ullam eligendi laborum ducimus</a> temporibus odit. Aut exercitationem dolores dolores vero deserunt Porro aliquam adipisci dolorem adipisci officiis Sit quam doloremque quam blanditiis cupiditate! Aliquam maiores quis?
    Amet dolorum quia voluptas facilis iure quae. Esse est nulla ipsam minus mollitia. Pariatur ratione eaque molestias quas maiores odit. Soluta nihil numquam totam ducimus hic, repellat consectetur reprehenderit. Earum
    Dolor repellat libero optio odit reiciendis ipsum? Obcaecati provident possimus eos ducimus harum. Aperiam aliquam eius accusamus officia repudiandae qui. Unde tempora sapiente quae et iure tempore Obcaecati repudiandae veniam.
  </p>
  <p>
    Ipsum perspiciatis praesentium consectetur aut aperiam Eius cum excepturi sint saepe fugit Impedit sunt repudiandae ratione aut porro. Cum nam obcaecati odio dolores aliquam Molestiae ullam enim vero minus non
    Ipsum deleniti modi quam aut neque. Eaque a <a href="#test-link">consectetur doloribus quibusdam dicta</a>. Repellat iusto error reiciendis voluptates ducimus iure nobis Fugit corporis mollitia laborum provident quaerat. Necessitatibus odio quidem harum
    Sit omnis elit cumque doloremque odit? Minus facere architecto qui voluptatum accusamus? Corporis eligendi tenetur quos ipsam vel consequuntur Aperiam deleniti voluptas tenetur voluptatum dignissimos. Officia error enim vel error
  </p>
</section>
